[Desktop Entry]
Type=Application
Name=Puppet Master GUI
Comment=Launch Puppet Master GUI on login
Exec=puppet-master gui
Terminal=false
Icon=/opt/puppet-master/puppet-master.png
Categories=Utility;Development;
X-GNOME-Autostart-enabled=true
