[Desktop Entry]
Type=Application
Name=Puppet Master GUI
Comment=Launch Puppet Master GUI on login
Exec=env WEBKIT_DISABLE_COMPOSITING_MODE=1 puppet-master-gui
Terminal=false
Icon=/opt/puppet-master/puppet-master.png
Categories=Utility;Development;
X-GNOME-Autostart-enabled=true
